$navbar-height: 72px;

.font-manrope {
  font-family: "Manrope", sans-serif !important;
}

.font-jost {
  font-family: "Jost", sans-serif !important;
}

.font-roboto {
  font-family: "Roboto", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.img-text-container {
  position: relative;
  text-align: center;

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.vh-100 {
  height: calc(100% - #{$navbar-height}) !important;
  height: calc(100vh - #{$navbar-height}) !important;
}

.bg-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn-dark.hvr-underline-from-center:before,
.btn-outline-dark.hvr-underline-from-center:before {
  background: colors.$white;
}

.frame,
.frame-hover {
  padding: 1px;
  border: solid 3px #efefef;
}

.frame-hover {
  &:hover,
  frame {
    border: solid 3px #ccc;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
  }
}

.font-big {
  font-size: 1.25rem;
}

.font-bigger {
  font-size: 1.5rem;
}

.bg-white-50 {
  background-color: rgba(colors.$white, 0.5);
}

.bg-white-75 {
  background-color: rgba(colors.$white, 0.75);
}

.category-container-shop {
  height: 300px;
}
