$navbar-height: 72px;

.font-manrope {
  font-family: "Manrope", sans-serif !important;
}

.font-jost {
  font-family: "Jost", sans-serif !important;
}

.font-roboto {
  font-family: "Roboto", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.img-text-container {
  position: relative;
  text-align: center;

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.vh-100 {
  height: calc(100% - #{$navbar-height}) !important;
  height: calc(100vh - #{$navbar-height}) !important;
}

.bg-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn-dark.hvr-underline-from-center:before,
.btn-outline-dark.hvr-underline-from-center:before {
  background: colors.$white;
}

.frame,
.frame-hover {
  padding: 1px;
  border: solid 3px #efefef;
}

.frame-hover {
  &:hover,
  frame {
    border: solid 3px #ccc;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
  }
}

.font-big {
  font-size: 1.25rem;
}

.font-bigger {
  font-size: 1.5rem;
}

.bg-white-50 {
  background-color: rgba(colors.$white, 0.5);
}

.bg-white-75 {
  background-color: rgba(colors.$white, 0.75);
}

.bg-dark-75 {
  background-color: rgba(colors.$brand-color, 0.75);
}

.category-container-shop {
  height: 300px;
}

.video-container {
  overflow: hidden;
  height: 300px;

  video {
    height: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */
    position: absolute;
    left: 50%; /* % of surrounding element */
    top: 50%;
    transform: translate(-50%, -50%); /* % of current element */
  }
}

.select2-selection.select2-selection--single {
  border-radius: 0 !important;
}

.container-sticky-top {
  top: 130px;
  z-index: 500;
}

.hidden {
  display: none;
}

/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575px) {
} */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container-sticky-top {
    top: calc(#{$navbar-height} + 4px);
  }
}

/* Column management */
/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Column management */
/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Column management */
/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
