@mixin transition($property) {
  -webkit-transition: $property;
  -o-transition: $property;
  transition: $property;
}

header {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);

  .navbar-dark {
    .navbar-logo {
      width: 250px;
    }

    .navbar-nav {
      font-size: 1rem;

      a {
        font-weight: 300;

        @include transition(all 300ms ease-in-out);
      }

      a[title*="Get Started"] {
        border: 1px solid colors.$orange;
      }

      .nav-link {
        color: colors.$white;

        &:hover {
          color: rgba(colors.$orange, 0.75);
        }
      }

      .active > .nav-link {
        color: colors.$orange;
      }
    }

    .navbar-toggler {
      border-color: transparent;
    }
  }

  .glink.nturl.notranslate {
    @extend .ml-2;
  }
}
