.woocommerce {
  .woocommerce-input-wrapper {
    width: 100%;
    display: block;
  }
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
  padding: 0.25rem;
  height: 30px;
  border: 1px solid darken($color: #f0f0f0, $amount: 30%);
  background: #f0f0f0;
}

#wrapper-musics {
  .woocommerce-tabs.wc-tabs-wrapper,
  .related.products {
    display: none;
  }
}
