.woocommerce {
  .woocommerce-input-wrapper {
    width: 100%;
    display: block;
  }

  .col-1,
  .col-2 {
    max-width: none;
  }

  form .form-row {
    @extend .form-group;

    label {
      @extend .font-jost;
    }
  }

  form {
    input:not([type="radio"]),
    select,
    textarea {
      @extend .form-control;
    }
  }

  #order_review_heading {
    @extend .mt-5;
  }

  .woocommerce-billing-fields h3,
  .woocommerce-additional-fields h3,
  #order_review_heading,
  .woocommerce-order-details__title,
  .woocommerce-column__title,
  .u-column1.col-1 h2,
  .u-column2.col-2 h2 {
    @extend .font-manrope;
    @extend .text-warning;
    @extend .text-uppercase;
  }

  .shop_table.woocommerce-checkout-review-order-table {
    @extend .font-manrope;
  }

  #respond input#submit.alt,
  button.button.alt,
  input.button.alt {
    @extend .btn;
    @extend .btn-dark;
    @extend .rounded-0;

    background-color: colors.$brand-color !important;

    &:hover {
      background-color: lighten(colors.$brand-color, 10%) !important;
    }
  }

  a.button.alt {
    @extend .btn-dark;
    @extend .rounded-0;

    background-color: colors.$brand-color !important;

    &:hover {
      background-color: lighten(colors.$brand-color, 10%) !important;
    }
  }

  button[name="update_cart"] {
    @extend .btn;
    @extend .btn-warning;
    @extend .rounded-0;
  }

  .woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
    @extend .h3;
    @extend .font-manrope;
    @extend .text-warning;
    @extend .text-uppercase;
    @extend .text-center;
    @extend .mb-5;
  }
}

#wrapper-musics {
  .woocommerce-tabs.wc-tabs-wrapper,
  .related.products,
  .woocommerce-Price-amount.amount {
    display: none;
  }

  .added_to_cart.wc-forward {
    display: block;
    @extend .text-success;
  }

  .button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    @extend .btn;
    @extend .btn-dark;
    @extend .rounded-0;

    &.added {
      @extend .btn-success;
    }
  }
}
